/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .my-container{
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
 }

 .question-input{
  width: 90%;
  height: 50px;
 }

 .btn{
  height: 50px;
  margin-left: 0;
 }

.my-card{
  border-left: 4px solid rgb(232, 224, 224);
  padding: 5px;
  padding-left: 15px;
  margin-top: 30px;
}

.my-card  p {
  margin-bottom: 0;
}

.background-yellow{
  background-color: #FFFEE0;
}

.link{

  margin-top: 15px;
}
